*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: Poppins;
    font-size: 18px;
}
.navbar{
    height: 8vh;
    position: sticky;
    z-index: 2;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-btn{
    font-family: Poppins;
    font-size: 1.5rem;
}

.navbar-brand{
    flex: 1;
    text-transform: uppercase;
}
.navbar-brand::after {
    content: "";
    display: block;
    width: 30%;
    height: 4px;
    background: rgb(255, 255, 255);
    transform: scale(0, 1);
    transition: transform 200ms ease-in;
}
.navbar-brand:hover::after {
    transform: scale(1, 1);
    transform-origin: center;
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 3px;
}
.btn-primary:hover{
    border: 1px solid white;
}
span .product-quantity{
  font-family: 'Poppins';
}
#close{
    display:none;
}
#open{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}


/*CSS of Shop*/
.shop-title{
    padding: 4rem 0 3rem;
}

.section-title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.shop-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    justify-content: center;
    position: relative;
}
.card:hover{
    border: 1px solid #0D6EFD;
    /*padding: 5px;*/
    border-radius: 5px;
    transition: 300ms ease-in;
}
.card-text-price{
    position: absolute;
}
box-icon{
    float: right;
}
.bxs-shopping-bags{
  padding: 0;
  margin: 0;
}
/*Hero Section*/
.promo-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}
.promo-hero .promo-video{
    display: flex;
    width: 720px;
    height: 360px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 7px 14px -3px rgba(0,0,0,0.54); 
    box-shadow: 2px 7px 14px -3px rgba(0,0,0,0.54);
}
.hero-heading{
    text-align: center;
    margin-top: 50px; 
}

.btn-info {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 15px -3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 15px -3px rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    
    background-image: -webkit-linear-gradient(
      top left,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: -moz-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );    
    background-image: -o-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    
    -moz-background-size: 250% 250%, 100% 100%;
         background-size: 250% 250%, 100% 100%;
    
    -webkit-transition: background-position 0s ease;
       -moz-transition: background-position 0s ease;       
         -o-transition: background-position 0s ease;
            transition: background-position 0s ease;
  }
  
  .btn-info:hover {
    background-position: 0 0, 0 0;
    
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .social-proof{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .proof{
    text-align: center;
    justify-content: center;
    margin-top: -100px;
  }
  .delivery-title{
    font-size: 18px;
    color: white;
    padding: 10px;
  }
  .fa-solid{
    font-size: 60px;
    color: white;
  }
  .brands{
    text-align: center;
    margin-top: 100px;
  }
  .brand-logos{
    display: flex;
  }
.category-box{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}
.men-category{
    background-image:linear-gradient(90deg, rgba(9,70,121,0.4321078773306197) 0%, rgba(7,122,145,0.6533963927367823) 100%), url("img/menglass1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: auto; 
    justify-content: flex-end;
    text-align: center;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
}
.women-category{
    background-image: linear-gradient(90deg, rgba(9,70,121,0.4321078773306197) 0%, rgba(7,122,145,0.6533963927367823) 100%), url("img/woman-card-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: auto; 
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.kids-category{
    background-image: linear-gradient(90deg, rgba(9,70,121,0.4321078773306197) 0%, rgba(7,122,145,0.6533963927367823) 100%),  url("img/kid-card-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: auto; 
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.category-text, .btn-warning{
    position: relative;
    top: 100px;
}
.btn-warning:hover{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    transition: 300ms ease-in;
}

/*Footer CSS*/
.footer-title{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box{
    padding: 10px;
    border-radius: 5px;
    background: #ececec;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 15px -3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 15px -3px rgba(0,0,0,0);
    
}
.form-box input{
    font-size: 18px;
    color:#000;
    padding: 5px 10px;
    border: none;
    outline: none;
    background: #ececec;
}
.form-box button{
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #4769d8;
    cursor: pointer;
    transition: .3s;
}
.form-box button:hover{
    background: #2e54d3;
}
.footer-nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.quick-links{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 20px;
    font-size: 1.5rem;
}
.links{
    font-size: 1.5rem;
}
.bx{
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}
.social-logo{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
.btn-link{
    text-decoration: none;
}
.copyright{
    padding: 20px;
    margin: 0;
    color: white;
    text-align: center;
}
/***********TABLET*********/
@media screen and (min-width:450px) and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }
    body{
        font-family: Poppins;
        font-size: 18px;
    }
    .navbar{
        height: 10vh;
        position: sticky;
        z-index: 2;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .svg-wave{
        display: none;
    }

    .social-proof{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 200px;
        text-align: center;
      }
      .proof{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: black;
        }
      .delivery-title{
        font-size: 18px;
        color: black;
        padding: 10px;
        text-align: center;
      }
      .fa-solid{
        font-size: 60px;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: center;
      }

      .category-title{
        font-size: 1.9rem;
        margin-top: 5rem;
      }
      .category-text{
        font-size: 1.3rem;
      }

      .category{
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

    .cart-btn{
        font-family: Poppins;
        font-size: 1rem;
    }
    .navbar-brand{
        text-transform: uppercase;
        font-size: 1rem;
    }
    .btn-outline-light{
        padding: 0;
        font-size: .8rem;
    }
  
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 3px;
    }
    span .product-quantity{
      font-family: 'Poppins';
    }
    #close{
        display:none;
    }
    #open{
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
}
/*Mobile*/
@media screen and (max-width: 441px){
    body{
        flex-direction: column;
    }
    .navbar{
        height: 10vh;
        position: sticky;
        z-index: 10;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand{
        font-size: 1.1rem;
    }
    .nav-links{
        position: absolute;
        background-color: #0D6EFD;
        width: 200px;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 10;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .nav-item{
        padding: 10px;
        color: white;
    }
    #close{
        display: block;
        cursor: pointer;
        margin: 15px;
    }
    #open{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        margin: 25px;
    }

    .promo-video{
        display: flex;
        width: 120px;
        height: 100px;
        border-radius: none;
        -webkit-box-shadow: 2px 7px 14px -3px rgba(0,0,0,0.54); 
        box-shadow: 2px 7px 14px -3px rgba(0,0,0,0.54);
    }
    .hero-title{
        font-size: 1.5rem;
    }
    .btn-info{
        font-size: 1rem;
    }
    .svg-wave{
        display: none;
    }
    .social-proof{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 6rem;
        margin-top: 200px;
        text-align: center;
      }
      .proof{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: black;
        }
      .delivery-title{
        font-size: 18px;
        color: black;
        padding: 10px;
        text-align: center;
      }
      .fa-solid{
        font-size: 60px;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: center;
      }
      .brand-name{
        text-align: center;
        font-size: 2rem;
      }
      .brand-card{
        text-align: center;
        justify-content: center;
      }
      .brand-logos{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .card-img-top{
        text-align: center;
        align-items: center;
        width: 200px;
        height: 150px;
        justify-content: center;
        margin: auto;
      }
      .category{
        flex-direction: column;
        align-items: center;
      }
      .category-title{
        font-size: 2rem;
        padding: 1rem;
      }
      .category-box{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
      }
      /*Footer CSS*/
    .footer-title{
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
        text-align: center;
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-box{
        padding: 10px;
        border-radius: 5px;
        background: #ececec;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 15px -3px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 0px 2px 15px -3px rgba(0,0,0,0);
        
    }
    .form-box input{
        font-size: 1rem;
        color:#000;
        padding: 5px 10px;
        border: none;
        outline: none;
        background: #ececec;
    }
    .form-box button{
        color: #fff;
        padding: 5px 20px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background: #4769d8;
        cursor: pointer;
        transition: .3s;
    }
    .form-box button:hover{
        background: #2e54d3;
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .quick-links{
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
        padding-top: 20px;
        font-size: 1.5rem;
    }
    .links{
        font-size: 1.5rem;
    }
    .bx{
        color: white;
        font-size: 2.1rem;
        font-family: 'Poppins';
    }
    .social-logo{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 20px;
        font-size: 20px;
    }
    .btn-link{
        text-decoration: none;
    }
    .copyright{
        padding: 1rem;
        margin: 0;
        color: white;
        text-align: center;
    }
}